@model IEnumerable<VonageVideoAPISession>

@{
    ViewData["Title"] = "Sessions";
}

<ul>
    @foreach (var p in Model) {
        <li>
            <a asp-controller="Home" asp-action="Session" asp-route-id="@p.SessionId">
                @p.SessionId
            </a>
        </li>
    }
</ul>