@model IEnumerable<VonageVideoAPISession>

@{
    ViewData["Title"] = "Sessions";
}

<ul>
    @foreach (var p in Model) {
        <li>
            @p.SessionId
            <ul>
                <li>
                    <form asp-controller="Home" asp-action="ForgetSession">
                        <input type="hidden" name="id" value="@p.SessionId" />
                        <input type="submit" value="Forget session" />
                    </form>
                </li>
            </ul>
        </li>
    }
</ul>